<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%5level) %cyan(%logger) - %yellow(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>

    <!-- Flyway -->
    <logger name="org.flywaydb.core.internal.sqlscript.DefaultSqlScriptExecutor" level="DEBUG"/>
</configuration>
